/* global variabls */
:root {
  --dark-theme: #222;
  --light-gray: #444;
  --green: green;
  --red: red;
  --white: white;
  --black: black;
  --light-blue: #31e1ff;

  --text-white: white;

  --base-gutter: 5px;
  --md-gutter: 10px;

}

/* reset */
html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* root */
#root, .app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
}

/* Left side bar */
.leftSideBar {
  width: 40px;
  padding: var(--base-gutter);
  background: var(--light-gray);
  border: 1px solid var(--black);
  border-left: transparent;
  border-top: transparent;
  border-bottom: transparent;
}

/* main content */
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--red);
}
